@import "tailwindcss";

@theme {
  --color-instagram-start: #E1306C;
  --color-instagram-end: #FD8D32;
  --color-facebook: #1877F2;
  --color-linkedin: #0A66C2;
  --color-twitter: #000000;
  --color-youtube: #FF0000;
}
